<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{{or site.url (or siteRootUrl siteRootPath)}}}/index.html">dev.drostan.org</a>
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" href="{{{or site.url (or siteRootUrl siteRootPath)}}}/index.html">Home</a>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="{{{or site.url (or siteRootUrl siteRootPath)}}}/index.html">{{site.title}}</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="{{{site.url}}}">Documentation</a>
          </div>
        </div>
        {{> nav-component-dropdown }}
        {{#if env.DOCSEARCH_ENABLED}}
          <div class="navbar-item">
            <input id="search-input" type="text" placeholder="Search all documentation">
          </div>
        {{/if}}
      </div>
    </div>
  </nav>
</header>
