<meta charset="utf-8">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta name="color-scheme" content="light dark">

<meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1">

<title>{{{detag (or page.title defaultPageTitle)}}}{{#with site.title}} :: {{this}}{{/with}}</title>
<!--<meta name="description" content="Internet trailblazer. Weaving the web to help humanity." class="yoast-seo-meta-tag">-->
<!--<meta property="og:locale" content="en_US" class="yoast-seo-meta-tag">-->
<!--<meta property="og:type" content="website" class="yoast-seo-meta-tag">-->
<!--<meta property="og:title" content="Rolf Kleef, drostan.org" class="yoast-seo-meta-tag">-->
<!--<meta property="og:description" content="Internet trailblazer. Weaving the web to help humanity."-->
<!--      class="yoast-seo-meta-tag">-->
<!--<meta property="og:url" content="http://localhost:8001/" class="yoast-seo-meta-tag">-->
<!--<meta property="og:site_name" content="Rolf Kleef, drostan.org" class="yoast-seo-meta-tag">-->
<!--<meta name="twitter:card" content="summary_large_image" class="yoast-seo-meta-tag">-->

{{#with page.canonicalUrl}}
  <link rel="canonical" href="{{{this}}}">
{{/with}}
{{#unless (eq page.attributes.pagination undefined)}}
  {{#with page.previous}}
    <link rel="prev" href="{{{relativize ./url}}}">
  {{/with}}
  {{#with page.next}}
    <link rel="next" href="{{{relativize ./url}}}">
  {{/with}}
{{/unless}}
{{#with page.description}}
  <meta name="description" content="{{{detag this}}}">
{{/with}}
{{#with page.keywords}}
  <meta name="keywords" content="{{{this}}}">
{{/with}}
{{#with (or antoraVersion site.antoraVersion)}}
  <meta name="generator" content="Antora {{{this}}}">
{{/with}}

<link rel="dns-prefetch" href="http://fonts.googleapis.com/">

<link rel="stylesheet" href="{{{uiRootPath}}}/css/site.css" type="text/css" media="all">
<link rel="stylesheet" id="material-design-google-style-css" href="{{{uiRootPath}}}/css/vendor/google-wordpress-style.css" type="text/css" media="all">
<link rel="stylesheet" id="material-design-google-front-end-css-css" href="{{{uiRootPath}}}/css/vendor/front-end.css" type="text/css" media="all">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<script type="text/javascript" src="{{{uiRootPath}}}/js/vendor/jquery.js" id="jquery-core-js"></script>
<script type="text/javascript" src="{{{uiRootPath}}}/js/vendor/jquery-migrate.js" id="jquery-migrate-js"></script>

<link rel="icon" href="{{{uiRootPath}}}/img/rolfkleef_512x512-32x32.png" sizes="32x32">
<link rel="icon" href="{{{uiRootPath}}}/img/rolfkleef_512x512-192x192.png" sizes="192x192">
<link rel="apple-touch-icon" href="{{{uiRootPath}}}/img/rolfkleef_512x512-180x180.png">
<meta name="msapplication-TileImage" content="{{{uiRootPath}}}/img/rolfkleef_512x512-270x270.png">

<script>var uiRootPath = '{{{uiRootPath}}}'</script>
