{{!-- #if page.breadcrumbs --}}
  <div class="entry-meta">
    {{#with page.componentVersion}}
      {{#if (and ./title (ne ./title @root.page.breadcrumbs.0.content))}}
        <span class="posted-on">
          <a class="date mdc-typography--overline" href="{{{relativize ./url}}}">
            <time class="entry-date published" datetime="2020-02-20T11:58:59+01:00">{{{./title}}}</time></a>
        </span>
      {{/if}}
    {{/with}}
    {{#each page.breadcrumbs}}
      {{~#if (and ./url (eq ./urlType 'internal'))~}}
        <span class="posted-on">
          <a class="date mdc-typography--overline" href="{{{relativize ./url}}}">
            <time class="entry-date published" datetime="2020-02-20T11:58:59+01:00">{{{./content}}}</time></a>
        </span>
      {{~else~}}
        <span class="posted-on">
          <a class="date mdc-typography--overline">
            <time class="entry-date published" datetime="2020-02-20T11:58:59+01:00">{{{./content}}}</time></a>
        </span>
      {{~/if~}}
    {{/each}}
 </div>
{{!-- /if --}}
