{{#if ./url}}
  <a class="nav-link" 
    href="{{~#if (eq ./urlType 'internal')}}{{{relativize ./url}}}{{~else}}{{{./url}}}{{~/if}}">{{{./content}}}</a>
{{else}}
  <span class="nav-text">{{{./content}}}</span>
{{/if}}
